################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.v2
*.suo
*.dll
*.exe
*.pdb
*.json
*.cache
*/obj
*.user
/.vs
/Calculator/.vs/Calculator/v16/TestStore/0/000.testlog
/Calculator/.vs/Calculator/v16/TestStore/0/testlog.manifest
